*~
*#
*.log
*.o
*.vmem
*.a
*.vcd
*.elf
*.bin
*.flash16
*.bit
*.bgn
*.bld
*.ncd
*.ngd
*.drc
*.par
*.pad
*.prwx
*.twr
*.vm
*.twx
*.xrpt
*.srp
*.xcf
*.prj
*.ngc
*.xst
*.lso
*.scr
*.lst
*.unroutes
*.xpi
*.xwbt
*.map
*.mrp
*.ngm
*.csv
*.sav
*.dis
*.pcf
*_pad.txt
*_summary.xml
*_usage.xml
*_statistics.html
*_webtalk.html
*.sdf
*/synthesis-defines.v
timescale.v
*/test-defines.v
*/bootrom.v
*.ptwx
